


$identidad: #7D9D9C;
$identidad-dark: #576F72;
$identidad-dark2: #425457;

$c1-ligth: #F0EBE3;
$c1-dark: #E4DCCF;

$red: #FF8B8B;
$red-dark: #EB4747;

$blue: #C4D7E0;
$blue-dark: #B2C8DF;

$green: #C4DFAA;
$green-dark: #73A9AD;

$gray-ligth: #d2d2d2;
$gray: #7F8487;
$gray-dark: #413F42;