@import 'src/assets/variables.scss';


.header{
    min-height: 60px;
    padding: 5px 10px;
    background-color: $identidad-dark;
    box-shadow: 1px 1px 2px $identidad;
    z-index: 1;
    margin: 0px;

    #logo{
        width: 110px;
    }

    .nav-buttons{
        display: flex;
        justify-content: end;

        button{
            margin: 0px 10px;
        }
    }
}