<nav class="row header d-flex align-items-center">

    <div class="col-sm-4">
        <img id="logo" src="../../../assets/images/publo.png" alt="Logo">
    </div>
    <div class="col-sm-6 nav-buttons">
        <button class="default-btn i-btn" routerLink="/home">Libros</button>
        <button class="default-btn i-btn" routerLink="/prestamo">Prestamo</button>
        <button class="default-btn i-btn" routerLink="/lectores">Lectores</button>
    </div>
    <div class="col-sm-2">

    </div>
</nav>